{% extends 'base.html' %}

{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-3xl font-bold mb-6 text-center text-indigo-600">About Us</h2>
    <div class="space-y-6">
        <p class="text-lg text-center">VERSION 1.0.0</p>
        <p class="text-xl text-center font-semibold">We are just a bunch of Enthusiastic people, who want to help The Society.</p>
        <div>
            <h3 class="text-2xl font-bold mb-4 text-center">Our Creator Team</h3>
            <ul class="list-disc list-inside space-y-2 text-center">
                <li>JIGAR GAJJAR</li>
                <li>ASHISH BAVALIYA</li>
                <li>DHAIRYA GADANI</li>
                <li>NILKANTH PATADIYA</li>
            </ul>
        </div>
        <p class="text-center text-lg font-semibold">Thank you for visiting our website</p>
    </div>
</div>
{% endblock %}